@use "../common/tooltip";
@use "modals/color";

.comp-gb{
  padding: 16px;
  gap: 8px;
  display:flex;
  flex-direction: row;

  border-top: 2px solid #ebf2f7;

  >.sg-box{
    gap: 8px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    > .sg-text-bit{
      font-size: 1rem;
      line-height: initial;
    }
  }
}
.cws-rate{
  img {
    height: 20px;
    width: 20px;
  }
}