@use "../common/modals/report";
@use "../common/basic";
@use "../common/gameBox";
@use "../common/modals/preview";
@use "../common/ginny";

.modticket,
a.newansbut,
.rep-button,
.preview-button,
div[data-testid="waitlist_banner_module_id"],
div[data-testid="feed_search_module_id"] {
  display: none !important;
}
body
  > div.js-page-wrapper
  > div
  > div.js-react-feed-logged-in
  > div.sg-layout.sg-layout--wide.sg-layout--three-columns
  > div
  > div.sg-layout__content
  > div.sg-flex.sg-flex--margin-bottom-m
  > div {
  > div.sg-flex.sg-flex--margin-top-m.sg-flex--margin-right-m.sg-flex--margin-bottom-l.sg-flex--margin-left-m,
  > div[role="separator"] {
    display: none !important;
  }
}
.sg-button--disabled {
  pointer-events: none !important;
}
.brn-feed-item__footer {
  > div {
    display: flex;
    > .action-menu {
      display: flex;
    }
  }
}
